<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Sezzle.Authentication.ApiPublicKey" value="sz_pub_L3of0TK1ttLTxGLwtJSJAXYHaR4LzwRw"/>
    <add key="Sezzle.Authentication.ApiPrivateKey" value="sz_pr_2SIlXnoT7eA7Oedj7PpxnnjFhx9lv5lG"/>
    <add key="Sezzle.Base.ApiUrl" value="https://sandbox.gateway.sezzle.com/v1/"/>
    <add key="Sezzle.HttpClient.Timeout" value="00:00:10"/>

    <!--you will have to modify this phone number to a valid one for integration tests to run.-->
    <add key="Sezzle.CustomerLoginCredentials.PhoneNumber" value="1234567890"/>
    <!--modify to a valid pin associated with the number.-->
    <add key="Sezzle.CustomerLoginCredentials.Pin" value="1234"/>
    <add key="Sezzle.CustomerLoginCredentials.OtpCode" value="123123"/>
  </appSettings>
</configuration>